@tailwind base;
@tailwind components;
@tailwind utilities;

/* Warna placeholder (tanggal sebelum dipilih) */
.tanggal-placeholder::-webkit-datetime-edit-text,
.tanggal-placeholder::-webkit-datetime-edit-month-field,
.tanggal-placeholder::-webkit-datetime-edit-day-field,
.tanggal-placeholder::-webkit-datetime-edit-year-field {
    color: #9CA3AF; /* abu-abu placeholder */
}

/* Setelah user memilih tanggal → warna normal */
.tanggal-placeholder:not(:placeholder-shown) {
    color: #374151; /* slate-700 */
}

/* HIDE SCROLLBAR (Cross‑Browser) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;  /* IE & Edge */
    scrollbar-width: none;     /* Firefox */
    scroll-behavior: smooth;
}

.sidebar-scroll {
    scrollbar-width: thin;
    scrollbar-color: rgba(255,255,255,0.4) transparent;
}

.sidebar-scroll::-webkit-scrollbar {
    width: 6px;
}

.sidebar-scroll::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,0.4);
    border-radius: 10px;
}

.sidebar-scroll::-webkit-scrollbar-track {
    background: transparent;
}
